<%- include("partials/header.ejs"); %>

<div class="jumbotron">
  <h1>Thank you, <%= infoName %>!</h1>
  <p>Your request has been submitted.</p>
  <p>Kindly check your email and print the attached form.</p>
</div>

<%- include("partials/footer.ejs"); %>
