body{
  margin: 0;
  background-color: #F0EBF8;
}

h1, h2{
  font-family: 'Muli', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

/* NavBar-like styles */
header{
  height: 150px;
  background-color: #4C55D4;
}

.headingTitle{
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
  padding: 16px;
  margin-left: 6rem;
}

ul{
  float: right;
  position: relative;
  bottom: 40px;
  right: 6rem;
}

li {
  float: left;
  padding: 0 20px;
  list-style-type: none;
}

.social-icon {
  color: #fff;
}

.social-icon:hover {
  /* background-color: #68D5A1; */
  /* background-color: #6F76FF; */
  color:#68D5A1;  
}

.topContainerTexture{
  height: 20px;
  width: 50%;
  background-color: #6F76FF;
  box-shadow: 0 0 0 1px #6F76FF;
  position: relative;
  bottom: 40px;
  z-index: 5;
  margin-right: auto;
  margin-left: auto;
}

.container{
  height: 100%;
  width: 50%;
  background-color: white;
  position: relative;
  bottom: 40px;
  z-index: 5;
  box-shadow: 0 0 0 1px #d1c4e9;
}



/* Form styles */
.formHeading{
  line-height: 1.2;
  padding: 2rem 2rem 0;
}

.formH1{
  font-size: 1.5rem;
}

.formDetails {
  font-size: 0.875rem;
}

.formSubHeading {
  line-height: 1.2;
  padding: 0 2rem 1rem;
}

.captionHeader {
  font-size: 0.8rem;
}

.col-form-label-sm {
  padding-bottom: 0;
  line-height: 1;
  font-size: 0.7rem;
}

.form-control{
  width: 60%;
  font-family: 'Muli', sans-serif;
  font-size: 0.8rem;
}

.dateField {
  width: 30%;
}

.numOfServiceField {
  width: 12%;
}

/* Details  */
.radioRow {
  margin-left: 0;
}

.radioLabel{
  font-family: 'Muli', sans-serif;
  font-size: .8rem;
  padding-top: 5px;
}

.topicField {
  width: 100%;
}

.currency {
  width: 18%;
}

.amountField {
  width: 30%;
}

.inputfile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #68D5A1;
    display: inline-block;
    border: 1px solid #68D5A1;
    padding: 10px;
    border-radius: 3px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #69f0ae;
}

.btn-primary{
  background-color: #6F76FF;
  border: 1px solid #4C55D4;
  margin-top: 20px;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #4C55D4;
}

.formFooter {
  background-color: #4C55D4;
  position: relative;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  line-height: 1.2;
  padding: 0.8rem 2rem;
  color: #fff;
}

/* For sucess post route */
.jumbotron{
  background-color: #fff;
}

/* Media query for small device */
@media screen and (max-width: 1200px){

  ul {
    display: none;
  }

  .headingTitle{
    margin-left: 2rem;
  }

  .topContainerTexture{
    height: 0;
  }

  .container{
    width: 80%;
    position: relative;
    z-index: 5;
    bottom: 40px;
  }

  .form-control{
    width: 100%;
  }

  .currency {
    width: 18%;
    margin-right: 20px;
  }

  .amountField {
    width: 25%;
  }
}
